# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# files Not Wanted
src/components/01-useState
src/components/02-useEffect
src/components/03-examples
src/components/04-useRef
src/components/05-useLayoutEffect
src/components/06-memos
src/components/07-tarea-memo

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
